html, body{
	width: 100%;
}

html, body, #main, #friendlist{
	margin: 0;
	padding: 0;
	height: 100%;
}

#main{
	float: left;
	width: 80%;
	background-color: #333;
}

#friendlist{
	position: absolute;
	right: 0;
	width: 20%;
	background-color: Lavender;
	cursor: default;
}

#waiting{
	width: 100%;
	position: relative;
	top: 40%;
	text-align:center;
}

#endcall{
	background: red;
	color: white;
	font-family: Arial, Sans;
	font-weight: bold;
	padding: 10px;
	width: 20%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	border-radius: 20px;
	top: 70%;
	opacity: 0.7;
	z-index: 1;	/*keep it above chatbox*/
	cursor: pointer;
	transition: opacity 0.3s;
	box-shadow: 1px 1px 2px 2px #111;
	display: none;
}

#endcall:hover{
	opacity: 1;
}

#endcall:active{
	box-shadow: 0px 0px 1px 1px #111;
}

#endcall i{
	vertical-align: middle;
}

#friendlist #friends{
	list-style: none outside none;
	padding: 0;
}

li{
	cursor: pointer;
	padding: 0.5em;
}

li:hover, .onCall{
	background-color: lightskyblue;
}

li button{
	display: none;
}

li:hover button, .onCall button{
	display: inline;
}

#logon{
	visibility: visible;
}

#vid1,#vid2{
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 0 auto;
	display: none;
}

#vid1{
	width: 100%;
	height: 100%;
}

#vid2{
	width: 20%;
    transform: scale(-1,1);	/*flip horizontal*/
    -ms-transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
}

#vidbox{
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 20%;
	height: 99%;	/*changes when the chatbox is collapsed or expanded*/
	transition: height 0.5s;
}

#chatbox{
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 20%;
	height: 30%;	/*must be used for tabbing*/
	font-size: 80%;
}

#chattabs{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
}

#chatbox p{
	border-bottom: 1px solid #CCC;
}

#chatbox .content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
	overflow: auto;
}

#chatbox .controls{
	height: 25px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	overflow: hidden;
}

#chatbox textarea{
	resize: none;
	margin: 0;
	height: 20px;
	width: 85%;
}

#chatbox .controls button{
	height: 25px;
	width: 10%;
	vertical-align: top;
	white-space: nowrap;
	font-family: 'FontAwesome', Arial, Sans;
}

.tabs-bottom .ui-tabs-nav {
	clear: right;
	padding: 0 .2em .2em .2em; 
}

.tabs-bottom .ui-tabs-nav li,.tabs-bottom .ui-tabs-nav li.ui-tabs-active{
	float:right;
	bottom: 0;
	border-bottom: 0; 
	border-top: 0; 
}

.tabs-bottom .ui-tabs-nav li.ui-tabs-active {
	margin-top: -1px;
}

.tabs-bottom .ui-tabs-nav li a{
	padding: 0.5em;
}

.ui-tabs-panel{
	position: relative;
}

.tabs-bottom .ui-tabs-nav li:hover span, .tabs-bottom .ui-tabs-nav li.ui-tabs-active span{
	display: inline;
}

.tabs-bottom .ui-tabs-nav li span {
	display:none;
	background-color: #EEE;
}

.tabs-bottom .ui-tabs-nav li span:hover {
	color: #666;
}

#conference{
	position: absolute;
	bottom: 2em;
	padding: 0.5em;
	width: 100%;
	font-size: 14px;
}

#status{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2em;
	font-size: 14px;
}

#status option{
	font-weight: normal;
	padding: 0.5em;
}

#status #offline, #status.offline{
	color: white;
	background-color: grey;
}

#status, #status option:active, #status option.now{
	font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title{
	font-family: 'FontAwesome', Verdana, Arial, Sans;
	font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
	display: none;
}
